* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

p.output-display {
    position: absolute;
    left: 50%;
    top: 70%;
    margin-top: 20px;
    padding: 8px 16px;
    text-align: center;
    border-radius: 5px;
    transform: translateX(-50%);
    /* box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); */
    /* color: #000;
    background: #fff; */
}

.grad-bg-GreenBlue {
    background: rgb(206,238,174);
    background: radial-gradient(circle, rgba(206,238,174,1) 0%, rgba(148,187,233,1) 100%);
}

input.ph-text::placeholder {
    color: #333;
}

.grad-text{
    background: radial-gradient(circle, rgba(206,238,174,1) 0%, rgba(148,187,233,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* .bmi.error{
    animation: errorEffect 0.3s linear 1;
}

@keyframes errorEffect{
    0%{
        transform: translate(10px, 5px)
    }
    25%{
        transform: translate(-5px, 0)
    }
    50%{
        transform: translate(8px, 2px)
    }
    75%{
        transform: translate(-2px, 5px)
    }
    100%{
        transform: translate(0, 0); 
    }
} */